<div class="footer">
  <div class="container">
    <div class="footer__blocks fblock">
      <div class="fblock__item">
        220014, г. Минск, пер. С.Ковалевской, 60, оф. 508.<br>© ИП Базуев С.А. 2016 все права защищены
      </div>
      <div class="fblock__item">
        Лицензия на оказание юридических услуг №02240/1956<br>выдана Минюстом Республики Беларусь 23.08.2016
      </div>
    </div>
  </div>
  <div class="footer__copy">
      <div class="container">
        Разработка сайта <a href="http://biz-up.by" target="_blank">BizUp Studio</a>
      </div>
    </div>
</div>