<div class="header">
 <div class="container">
   <div class="header__line">
     <div class="header__logo">
       <a href="/"><img src="src/img/logo.png" alt="logo" width='307' height='65'></a>
     </div>
     <div class="header__email">
        <div class="header__title">Написать письмо</div>
        <div class="header__disc"><a href="mailto:224444@mail.ru" target="_blank">224444@mail.ru</a></div>
     </div>
     <div class="header__phone">
        <div class="header__title">Звоните прямо сейчас!</div>
        <div class="header__disc"><a href="tel:+375445506030" target="_blank">+375 44 550 60 30</a></div>
   </div>
   </div>
 </div>
</div>

