<div class="main">
  <div class="container">
    <div class="main__title">ЛИКВИДАЦИЯ КОМПАНИЙ И ИП В РЕСПУБЛИКЕ БЕЛАРУСЬ</div>
    <div class="main__disc"><span>Без рисков</span> привлечения к ответственности</div>
    <div class="main__blocks">
      <div class="main__block block">
        <div class="block__icon block__icon-fly"></div>
        <div class="block__title">Ликвидация при неосуществлении деятельности</div>
        <div class="block__price">от 600 руб</div>
      </div>
      <div class="main__block block">
        <div class="block__icon block__icon-lupa"></div>
        <div class="block__title">Ликвидация при отсутствии имущества и долгов</div>
        <div class="block__price">от 800 руб</div>
      </div>
      <div class="main__block block">
        <div class="block__icon block__icon-write"></div>
        <div class="block__title">Ликвидация<br> без налоговой<br> проверки</div>
        <div class="block__price">от 1800 руб</div>
      </div>
      <div class="main__block block">
        <div class="block__icon block__icon-hummer"></div>
        <div class="block__title">Ликвидация<br> при наличии<br> долгов</div>
        <div class="block__price">от 2200 руб</div>
      </div>
    </div>
    <div class="main__result">
      <div class="main__result__title">Узнайте стоимость вашей ликвидации</div>
      <div class="main__result__disc">за 1 минуту</div>
      <div class="main__result__btn">
        <!-- <a href="#popup:marquiz_5d777bd0a702ac00440a1eb6">Рассчитать стоимость</a> -->
        <button class="btn" onclick="Marquiz.showModal('5d777bd0a702ac00440a1eb6')">
            Рассчитать стоимость 
          </button>
      </div>
    </div>

  </div>
</div>