.main {
    background-image: url(../src/img/main.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 854px;
    background-color: #383c40;

    @media(max-width: 950px) {
      height: auto;
    }

    @media(max-width: 768px) {
      background-size: contain;
      background-position: center top;
    }

    @media(max-width: 480px) {
      margin-bottom: 0px;
      background-position: center 100px;
    }

    &__title {
      color: #ffffff;
      font-family: "Proxima Nova - Extrabld";
      font-size: 48px;
      text-align: center;
      max-width: 840px;
      margin: 0 auto;
      padding: 45px 0 30px;
      letter-spacing: 2.4px;
      

      @media(max-width: 480px) {
        font-size: 30px;
        padding: 20px 0 15px;
      }
    }

    &__disc {
      color: #ffffff;
      font-family: "Proxima Nova";
      font-size: 30px;
      text-align: center;
      margin-bottom: 35px;

      @media(max-width: 480px) {
        font-size: 18px;
      }

      span {
        color: #95b8f9;
      }
    }

    &__blocks {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__result {
      padding: 20px 0;
    }

    &__result__title {
      color: #ffffff;
      font-family: "Proxima Nova - Extrabld";
      font-size: 30px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1.5px;

      @media(max-width: 480px){
          font-size: 22px;
      }
    }

    &__result__disc {
      color: #63a1fe;
      font-family: "Proxima Nova - Black";
      font-size: 36px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 20px;
      letter-spacing: 1.5px;
      position: relative;

      @media(max-width: 480px){
        font-size: 22px;
      }

      &:before {
        content: url('../src/img/arr.png');
        position: absolute;
        left: 0;
        right: 0;
        transform: translate(-195px,20px);

        @media(max-width: 480px) {
          content: url('../src/img/arr2.png');
          transform: translate(-95px,15px);
        }
      }
    }
    
    &__result__btn {
      text-align: center;
      position: relative;
      padding-top: 60px;

      @media(max-width: 480px) {
          margin-top: 30px;
      }
    }
}

.block {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 55px;

    @media(max-width: 950px) {
      width: 50%;
    }

    @media(max-width: 767px) {
      width: 50%;
    }

    @media(max-width: 480px){
      margin-bottom: 65px;
    }
    
    &__icon {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin-bottom: 30px;
    }

  &__icon-fly {
    background-image: url(../src/img/fly.png);
    width: 65px;
    height: 65px;
    margin-bottom: 20px;
  }

  &__icon-lupa {
    background-image: url(../src/img/lupa.png);
    width: 53px;
    height: 53px;
  }

  &__icon-write {
    background-image: url(../src/img/write.png);
    width: 54px;
    height: 54px;
  }

  &__icon-hummer {
    background-image: url(../src/img/hummer.png);
    width: 73px;
    height: 56px;
    margin-bottom: 28px;
  }

  &__title {
    color: #ffffff;
    font-family: "Proxima Nova - Semibold";
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
    padding: 0 10px;
    letter-spacing: 1px;
    line-height: 1.5rem;

    @media(max-width: 480px){
      font-size: 14px;
      width: 145px;
      letter-spacing: 0.5px;
      padding: 0;
    }
  }

  &__price {
    color: #1664ce;
    font-family: "Proxima Nova - Extrabld";
    font-size: 18px;
    background: white;
    width: 131px;
    height: 38px;
    text-align: center;
    padding-top: 5px;
    border-radius: 19px;

    @media(max-width: 480px){
      font-size: 14px;
      width: 103px;
      height: 29px;
    }
  }
}

.btn{
  letter-spacing: 1.5px;
  font-family: "Proxima Nova - Semibold";
  font-size: 24px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.21);
  border-radius: 38px;
  color: white;
  font-size:20px;
  background:#b41919;
  cursor:pointer;
  border: none;
  width: 317px;
  height: 76px;
  position:absolute;
  left:50%;
  top:50%;
  text-align:center;
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
   -webkit-transition:all .6s ease-in-out;
  transition:all .6s ease-in-out;
 overflow:hidden;

  @media(max-width: 480px) {
    width: 234px;
    height: 52px;
    font-size: 18px;
  }
}



.btn::after{
  content:'';
  position:absolute;
  top: -123px;
  margin:auto;
  display:block;
  border-radius:50%;
  width: 360px;
  height: 320px;
  left:-28px;
  -webkit-transition:box-shadow .6s ease-in-out;
  transition:box-shadow .6s ease-in-out;
  z-index:-1;

  @media(max-width: 480px){
    width: 290px;
    height: 290px;
  }
 
}


.btn:hover{
  color:#fff;
}


.btn:hover::after{
  box-shadow:inset 0 0 0 160px #63a1fe;
}